* {
    box-sizing: border-box;
    margin: 0 auto;
}

.App {
    background: #0b2434;
    height: 500px;
    width: 500px;
    padding: 20px;
    place-items: center;
    display: grid;
    color: #2b283a;
}

.game {
    background: #f5f5f5;
    border-radius: 20px;
    min-height: 460px;
    min-width: 460px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
}

.die {
    margin: 3px;
    border-radius: 5px;
    color: #2b283a;
    background: white;
    font-size: 2rem;
    font-weight: 700;
    max-height: 60px;
    max-width: 60px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: grid;
    place-items: center;
}
